/* Resetting some default browser styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Body and background */
  body {
    font-family:'Courier New', Courier, monospace;
    background-color: #121212; /* Dark background */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: #fff;
  }
  
  /* Centering the login container */
  .login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  
  /* Login box styling */
  .login-box {
    background-color: #1f1f1f;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    text-align: center;
    width: 100%;
    }
  
  /* Heading styling */
  h2 {
    color: #fff;
    margin-bottom: 20px;
    font-size: 28px;
  }
  
  /* Input field container */
  .textbox {
    margin-bottom: 20px;
  }
  
  /* Input field styling */
  .textbox input {
    width: 100%;
    padding: 15px;
    background-color: #333;
    border: 2px solid #555;
    border-radius: 5px;
    color: #fff;
    font-size: 16px;
    outline: none;
    font-family:'Courier New', Courier, monospace;
  }
  
  .textbox input:focus {
    border-color: #B76E79; /* Rose gold focus border */
  }
  
  /* Button styling */
  .btn {
    width: 100%;
    padding: 15px;
    background-color: #B76E79; /* Rose gold color */
    border: none;
    border-radius: 5px;
    color: #fff;
    font-size: 18px;
    cursor: pointer;
    font-family:'Courier New', Courier, monospace;
  }
  
  .btn:hover {
    background-color: #9c5b63; /* Darker rose gold hover effect */
    transition: background-color 0.3s ease;
  }

header {
    background-color: #100f0f;
    padding: 10px;
    margin-top: 0px;
    position: fixed;
    top: 0;
    width: 100%;
    height: 70px;
    padding-top: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000; /* Ensure it stays above other content */
}

header h2 {
    color: #ffabb7;
    font-size: 30px;   
    font-family:'Courier New', Courier, monospace;
}
  
  /* Responsive design */
  @media (max-width: 600px) {
    .login-box {
      padding: 30px;
    }
  
    h2 {
      font-size: 24px;
    }
  
    .textbox input {
      padding: 12px;
    }
  
    .btn {
      font-size: 16px;
      padding: 12px;
    }
  }
  